@model List<ResultExperienceDto>



@foreach (var item in Model)
{
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">@item.Title</h3>
            <div class="subheading mb-3">@item.Subtitle</div>
            <p>
            @item.Description
                </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">@item.ExperienceDate</span>
        </div>
    </div>
}