@{
    ViewBag.Controller = "Admin";
    ViewBag.Title = "Create Hobby";
    ViewBag.Link = "/Admin/CreateHobby";
    Layout = "_AdminLayout";
}


<div class="col-xl-12 mx-auto">
    <h6 class="mb-0 text-uppercase">Create New Hobby</h6>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="border p-4 rounded">
                <div class="card-title d-flex align-items-center">
                    <h5 class="mb-0">Create Hobby Form</h5>
                </div>
                <hr>
                <form id="userForm" action="CreateHobby" method="post">
                    <div class="row mb-3">
                        <label for="inputTitle" class="col-sm-3 col-form-label">Hobby</label>
                        <div class="col-sm-9">
                            <textarea type="text" class="form-control" name="Hobby" id="inputTitle" rows="3" placeholder="Hobby Title"> </textarea>
                        </div>
                    </div>
                
                    <div class="row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="submitButton" class="btn btn-primary px-5">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>