@using Newtonsoft.Json
@model List<ResultAdminSkillDto>

@{
    ViewBag.Controller = "Admin";
    ViewBag.Title = "Skill";
    ViewBag.Link = "/Admin/Skill";
    Layout = "_AdminLayout";
}

<style>
           .dataTables_wrapper .text-right {
               text-align: right;
           }
       </style>

<h6 class="mb-0 text-uppercase">Skill List</h6>
<hr>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5">
                <div class="row">


                </div>
                <div class="row">
                    <table id="allSkill" class="table table-striped table-bordered dataTable" style="width: 100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Skill</th>
                            <th>ImageUrl</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/admin-theme/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/admin-theme/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>


<script>
       var data = @Html.Raw(JsonConvert.SerializeObject(Model));
       
       $('#allSkill').DataTable({
           data : data,
           error: function(xhr, errorType, exception) {
                       console.log('Ajax Hatası:', xhr, errorType, exception);
                   },
           columns: [
               { data: 'ID', width: '5%', },
               { data: 'Skill', width: '20%', },
               { data: 'ImageUrl', width: '10%', },
               {
                   data: null,
                   width: '10%',
                   render: function (data, type, row) {
                       return '<div class="text-right"><a href="/Admin/SkillDetail/' + row["ID"] + '" class="btn btn-primary detail-button m-1" data-id="' + row["ID"] + '">Detail</a> <button id="'+row["ID"]+'" class="btn btn-danger delete-button m-1" data-id="' + row["ID"] + '">DELETE</button> </div>';
                   }
               }
           ],
           order: [[0, 'asc']], 
           searching: true,      
           paging: true,
           lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],          
           "oLanguage": {
                   "sLengthMenu": "Sayfa başına _MENU_ öğe göster",
                   "sZeroRecords": "Eşleşen kayıt bulunamadı",
                   "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                   "sInfoEmpty": "Gösterilecek kayıt yok",
                   "sInfoFiltered": "(_MAX_ toplam kayıttan filtrelenmiştir)",
                   "sFirst": "İlk",
                   "sLast": "Son",
                   "sNext": "Sonraki",
                   "sPrevious": "Önceki",
                   "sSearch":"<span class='demo'>Ara</span>"
               },
           "initComplete": function(settings, json) {
                   $("#allSkill_filter").css("text-align", "right");
                  
               },
           dom: "<'row'<'col-sm-12 col-md-4'l> <'text-center col-sm-12 col-md-4 my-auto'B>  <'col-sm-12 col-md-4 mx-auto'<'text-right'f>>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
       });
       
       
       
       $(document).ready(function () {
           // "Change Status" düğmesine tıklama olayını dinleyin
           $('#allSkill').on('click', '.delete-button', function () {
               var SkillId = $(this).data('id');
       
               // Ajax isteğini başlatın
               $.ajax({
                   url: '/Admin/DeleteSkill/' + SkillId,
                   method: 'GET',
                   success: function (result) {              
                       if (result['message'] === 'OK') {
                           Swal.fire('DELETED!', 'Data has been deleted.', 'success').then(()=>{
                           location.reload();
                       });
                       }
                   },
                   error: function () {
                       Swal.fire('Error!', 'Somthing wrong!', 'error')
                   }
               });
           });
       });
       
       
       
       </script>

