<div class="col">
    <div class="card radius-10 border-0 border-start border-tiffany border-3">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="">
                    <p class="mb-1">All Message</p>
                    <h4 class="mb-0 text-tiffany">@ViewBag.Count</h4>
                </div>
                <div class="ms-auto widget-icon bg-tiffany text-white">
                    <i class="bx bxs-inbox "></i>
                </div>
            </div>
        </div>
    </div>
</div>
